{% for topic in topics %}## LARGE TOPIC: {{ topic.name }}
ID: {{ topic.id }}
Description: {{ topic.description }}
{% for subtopic in topic.subtopics %}
### SUBTOPIC: {{ subtopic.name }}
ID: {{ subtopic.id }}
Description: {{ subtopic.description }}
{% if subtopic.include %}Relevant examples:
{% for item in subtopic.include %}- {{ item }}
{% endfor %}{% endif %}{% if subtopic.exclude %}Exclude examples:
{% for item in subtopic.exclude %}- {{ item }}
{% endfor %}{% endif %}{% endfor %}
{% endfor %}
